In [1]:
import pandas as pd
import numpy as np
from scipy import stats

In [2]:
cutlets = pd.read_csv("/content/Cutlets.csv")
cutlets.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

#EDA

In [3]:
cutlets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Unit A  35 non-null     float64
 1   Unit B  35 non-null     float64
dtypes: float64(2)
memory usage: 688.0 bytes

found no null values and column data types also no need to change but need to change column name because of space.

In [4]:
cutlets.rename(columns={"Unit A": "UnitA","Unit B":"UnitB"},inplace=True)
cutlets.head(2)

    UnitA   UnitB
0  6.8090  6.7703
1  6.4376  7.5093

In [5]:
cutlets.describe()

           UnitA      UnitB
count  35.000000  35.000000
mean    7.019091   6.964297
std     0.288408   0.343401
min     6.437600   6.038000
25%     6.831500   6.753600
50%     6.943800   6.939900
75%     7.280550   7.195000
max     7.516900   7.545900

In [6]:
#null Hypothesis H0 = there is no significant difference between two units diameter of the cutlet.  
#alternative hypothesis Ha = significant difference between two units diameter of the cutlet.

#its two tailed two independent samples with numerical data.
# cutoff value wil be = 0.05/2= 0.025.

In [7]:
stats.ttest_ind(cutlets['UnitA'],cutlets['UnitB'],equal_var=False)

Ttest_indResult(statistic=0.7228688704678063, pvalue=0.47231324819145404)

In [10]:
p = 0.472313/2
p

0.2361565

# p value is greter than cutoff value.
# we failed reject null hypothesis.
# By this we can tell there is no significant difference between two units diameter of cutlets.