In [ ]:
import numpy as np
import pandas as pd
from scipy import stats

In [ ]:
customer = pd.read_csv("/content/Costomer+OrderForm.csv")
customer.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [ ]:
customer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Phillippines  300 non-null    object
 1   Indonesia     300 non-null    object
 2   Malta         300 non-null    object
 3   India         300 non-null    object
dtypes: object(4)
memory usage: 9.5+ KB

In [ ]:
customer.India.value_counts()

Error Free    280
Defective      20
Name: India, dtype: int64

In [ ]:
customer.Indonesia.value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [ ]:
customer.Malta.value_counts()

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [ ]:
customer.Phillippines.value_counts()

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [ ]:
table = [[271,267,271,280],[29,33,31,20]]

applying chi-square contingency table to converting observerd values into expected values

In [ ]:
stat, p, dof, exp = stats.chi2_contingency(table) 
print(stat,"\n", p,"\n", dof,"\n", exp)

3.8235258697843886
 0.2811615109536064
 3
 [[271.79700499 271.79700499 273.60898502 271.79700499]
 [ 28.20299501  28.20299501  28.39101498  28.20299501]]

In [ ]:
observerd = np.array([271,267,271,280,29,33,31,20])
expected = np.array([271.79700499,271.79700499,273.60898502,271.79700499,28.20299501,28.20299501,28.39101498,28.20299501])

In [ ]:
statistics, p_value = stats.chisquare(observerd,expected,ddof=3)
p_value

0.4304155174200376

p_value is greater than alpha so, we failed to reject null hypothesis.
which means defective % are same for all centers.