In [ ]:
import numpy as np
import pandas as pd
from scipy import stats

#null hypothesis:all male-female proportions are equal across regions.
#alterntive hypothesis : male - female proportions are not equal across regions,atleast one region proportion is different from other regions.

In [ ]:
buyers = pd.read_csv("/content/BuyerRatio.csv",index_col=0)
buyers.head(5)

                 East  West  North  South
Observed Values
Males              50   142    131     70
Females           435  1523   1356    750

#applying chi-square contingency table to convert observalues into expected values

In [ ]:
stat, p, dof, exp = stats.chi2_contingency(buyers) 
print(stat,"\n", p,"\n", dof,"\n", exp)

1.595945538661058
 0.6603094907091882
 3
 [[  42.76531299  146.81287862  131.11756787   72.30424052]
 [ 442.23468701 1518.18712138 1355.88243213  747.69575948]]

In [ ]:
observed = np.array([50, 142, 131, 70, 435, 1523, 1356, 750])
expected = np.array([42.76531299, 146.81287862, 131.11756787, 72.30424052,442.23468701, 1518.18712138, 1355.88243213, 747.69575948])

In [ ]:
statistics, p_value = stats.chisquare(observed,expected,ddof=3)
p_value

0.8095206646905712

pvalue is greater than alpha(0.05) so, we failed to reject null hypothesis.
which means across regions male-female buyer rations are similar.